
*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Body */
body{
  background: url();
  background-attachment: fixed;
  background-size: cover;
}
#titre1{
 text-align:right;
 padding-right: 10px;
}
.titre2{
 text-align:center;
}
.Presentation{
  text-align:left;
  padding: 5px;
  margin: 10px;
}

/* header */
header{
  display:flex;
  width: auto;
  justify-content: space-between;
}
#logocont{
  position: relative;
  width: auto;
  height: auto;
  margin: 5px;
}
#logo{
  width: 5%;
  height:90%;
  border-radius: 10px;
  object-fit: cover;/* Redimensionne l'image pour couvrir la zone concernée */
  margin-left: auto;
}
header div a{
  padding-right: 15px;
  color: rgb(23, 23, 182);
  margin-top: 25px;
  padding-top: 25px;
  text-decoration: none;
  font-weight: bolder;
}
header div a:hover{
  font-size: 18px;
  color: turquoise;
}
header div a:checked{
  font-size: 17px;
  color: rgb(157, 241, 232);
}
/* footer */
footer{
  display: flex;
}
