
*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Body */
body{
  background: url();
  background-attachment: fixed;
  background-size: cover;
}

/* header */
header{
  display:flex;
  width: auto;
  justify-content: space-between;
}
/*.logo{
  position: relative;
  justify-content: left;
}*/
#logocont{
  position: relative;
  width: auto;
  height: auto;
  margin: 5px;
}
#logo{
  width: 5%;
  height:85%;
  border-radius: 5px;
}
#logo:hover{
  width: 7%;
}
header div a{
  padding-right: 15px;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bolder;
}
header div a:hover{
  font-size: 18px;
  color: turquoise;
}

/* footer */
footer{
  display: flex;
  justify-content: right;
}
footer fieldset{
  align-items: center;
  border:ridge;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
}
footer fieldset legend{
  font-size: 15px;
  font-weight: 500;
}
footer fieldset table{
  text-align: center;
  padding: 10px;
}
